h1 {
    height: 50px;
    font-size: 50px;
}


.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 50%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 8px;
    color: azure;

}

.half-width p {
    padding-right: 400px;
}

.description {
    padding-top: 30px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

body {
    margin: 0px;
}

.dream-half {
    width: 50%;
}

.dream-half img {
    width: 50%;
}

body {
    font-family: "poppins", sans-serif;
}

.dream-half p {
    padding-right: 30%;
}

.dream-big {
    padding-top: 30px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



.full-stack {
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid #ef233c;
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    height: 500px;
    padding-left: 20px;
}

.baby {
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid #ef233c;
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    height: 500px;
    padding-left: 20px;
}


.secex {
    margin-left: 30px;
    padding-bottom: 50px;
}

.experience {
    padding-bottom: 200px;
}

footer {
    text-align: center;
    padding-bottom: 300px;
}